@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
:root {
  --bgWhite: #ffffff;
  --bgGradient: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);
  --bxShadow: 0px 5px 10px rgba(255, 174, 0, 0.26),
    0px 20px 40px rgba(255, 174, 0, 0.29);
  --clBlack: #424242;
  --clYellow: #ffb30e;
  --borderRadius: 8px;
  --btnShadow: 0px 5px 10px rgba(255, 174, 0, 0.26),
    0px 20px 40px rgba(255, 174, 0, 0.29);
  --btnTransition: 0.5s ease-in;
  --textBlack: #424242;
  --textWhite: #fff;
  --textRed: #f17228;
  --bgAsh: #F5F5F5;
  --bgLightRed: rgba(241, 114, 40, 0.2);
  --textGrey: #9E9E9E;
  --searchFoodBg: #FEFAF1;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  font-style: normal;
  overflow-x: hidden;
  color: var(--textBlack);
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
  transition: all 0.4s ease-in-out;
}

.container,
.container2 {
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
}

.header {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: var(--textRed);
}

.mobile {
  display: none;
}

.navbar {
  background-color: var(--bgWhite);
  box-shadow: var(--bxShadow);
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;
}
.navbar .container .location {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.navbar .container .location span {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  color: var(--clBlack);
}
.navbar .container .location .img {
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -3px;
}
.navbar .container .location .img img {
  height: 100%;
  width: 100%;
}
.navbar .actions {
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
}
.navbar .actions button {
  padding: 5px 10px;
  border-radius: var(--borderRadius);
  transition: var(--btnTransition);
}
.navbar .actions .login button {
  background: var(--bgWhite);
  border: 1px solid var(--clYellow);
  display: flex;
  align-items: center;
  padding: 8.5px 16px;
}
.navbar .actions .login button img {
  margin-right: 5px;
  height: 15px;
}
.navbar .actions .login button:hover {
  border: 1px solid var(--clYellow);
  box-shadow: var(--btnShadow);
  cursor: pointer;
}
.navbar .actions .search {
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.navbar .actions .search .search-btn {
  background: none;
  align-self: center;
  align-items: center;
  border: none;
  font-weight: 700;
}
.navbar .actions .search .search-btn .img {
  margin-right: 5px;
  justify-self: center;
  height: 17px;
  margin-top: 5px;
}
.navbar .actions .search .search-btn .img img {
  height: 14px;
}
.navbar .actions .search .search-btn:hover {
  border: 0.1px solid var(--clYellow);
  box-shadow: none;
}
.navbar .actions .search .no-animate {
  display: none;
}
.navbar .actions .search .animate1 {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.navbar .actions .search .animate2 {
  animation-name: slideOut;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.navbar .actions .search .search-field {
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 100px;
  top: 60px;
}
.navbar .actions .search .search-field .input input {
  width: 250px;
  padding: 8px 16px;
  border-radius: var(--borderRadius);
  border: 1px solid var(--clYellow);
  font-size: 14px;
}
.navbar .actions .search .search-field .input input:focus {
  outline: none;
}
.navbar .actions .search .search-field .img {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--clYellow);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  cursor: pointer;
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
    display: block;
  }
  to {
    transform: translateY(0px);
    display: block;
  }
}
@keyframes slideOut {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100px);
    display: none;
  }
}
.hero-sec {
  padding-top: 30px;
  background-color: var(--clYellow);
  height: 100%;
  overflow-y: hidden;
}
.hero-sec .container {
  display: flex;
  justify-content: space-between;
}
.hero-sec .container .hero-image {
  margin-bottom: -5px;
}
.hero-sec .container .hero-text-component {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.hero-sec .container .hero-text-component .sub-text {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--textWhite);
}
.hero-sec .container .hero-text-component h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 1;
  color: var(--textWhite);
  text-shadow: 0px 14px 15px rgba(255, 174, 0, 0.01), 0px 27px 82px rgba(255, 174, 0, 0.28);
}
.hero-sec .container .hero-text-component .hero-card {
  background-color: var(--bgWhite);
  border-radius: 5px;
}
.hero-sec .container .hero-text-component .hero-card .del-pick {
  padding: 24px;
  border-bottom: 1px solid var(--bgAsh);
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.hero-sec .container .hero-text-component .hero-card .del-pick button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  -moz-column-gap: 5px;
       column-gap: 5px;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  border: none;
}
.hero-sec .container .hero-text-component .hero-card .del-pick .pickup {
  background: none;
  color: #757575;
}
.hero-sec .container .hero-text-component .hero-card .del-pick .delivery {
  background: rgba(241, 114, 40, 0.1);
}
.hero-sec .container .hero-text-component .hero-card .del-pick .pickup:hover {
  color: var(--textRed);
}
.hero-sec .container .hero-text-component .hero-card .del-pick .active {
  color: var(--textRed);
  border: none;
}
.hero-sec .container .hero-text-component .email-find-food {
  justify-content: space-between;
  position: relative;
  padding: 24px;
  flex-wrap: wrap;
  row-gap: 10px;
}
.hero-sec .container .hero-text-component .email-find-food .input-field input {
  width: 200px;
}
.hero-sec .container .hero-text-component .email-find-food .find-food-btn {
  position: relative;
  margin-left: 10px;
}
.hero-sec .container .hero-text-component .email-find-food .find-food-btn button {
  padding: 10px 20px;
  border-radius: var(--borderRadius);
  border: 1px solid var(--textRed);
  color: var(--textWhite);
  background-color: var(--textRed);
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-weight: 600;
  font-size: 13px;
}
.hero-sec .container .hero-text-component .email-find-food .find-food-btn button .img {
  position: static;
}
.hero-sec .container .hero-text-component .email-find-food .img {
  position: absolute;
  top: 33px;
  left: 35px;
}
.hero-sec .container .hero-text-component .email-find-food .input-field input {
  width: 350px;
  padding: 15px 15px 15px 40px;
  border: none;
  background: var(--bgAsh);
  border-radius: var(--borderRadius);
  color: var(--textBlack);
}
.hero-sec .container .hero-text-component .email-find-food .input-field input:focus {
  outline: none;
  border: 1px solid var(--textRed);
}

.flash-sales {
  padding-bottom: 30px;
}
.flash-sales .button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.flash-sales .button button {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  border-radius: var(--borderRadius);
  border: none;
  background-color: var(--textRed);
  color: var(--textWhite);
  font-weight: 700;
  font-size: 18px;
}
.flash-sales .button button img {
  height: 13px;
  width: 13px;
  margin-left: 5px;
  transform: rotateZ(90deg);
}
.flash-sales .container {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}
.flash-sales .container .card {
  width: 280px;
}
.flash-sales .container .card .description {
  text-align: center;
  margin-top: -30px;
}
.flash-sales .container .card .description h5 {
  line-height: 1;
  color: var(--textBlack);
}
.flash-sales .container .card .description p {
  margin-top: -10px;
  color: var(--textGrey);
}
.flash-sales .container .card .title {
  display: flex;
  justify-content: space-between;
  line-height: 1;
  flex-wrap: wrap;
  color: var(--textBlack);
}
.flash-sales .container .card .time-off {
  align-self: center;
}
.flash-sales .container .card .time-off span {
  background: var(--bgLightRed);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  padding: 5px 20px;
  color: var(--textRed);
}
.flash-sales .container .card .card-image {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
}
.flash-sales .container .card .card-image img {
  transition: 0.3s ease-in-out;
  opacity: 0.8;
  width: 100%;
}
.flash-sales .container .card .card-image .discount-container {
  position: absolute;
  left: o;
  bottom: 0;
  border-top-right-radius: 5px;
  display: flex;
  background-color: var(--textRed);
  align-items: center;
  padding: 0 10px;
}
.flash-sales .container .card .card-image .discount-container .percentage {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 0;
       column-gap: 0;
}
.flash-sales .container .card .card-image .discount-container .percentage strong {
  line-height: 1;
  color: var(--textWhite);
}
.flash-sales .container .card .card-image .discount-container span {
  font-weight: 700;
  font-size: 28px;
  line-height: 106%;
  display: flex;
  align-items: center;
  color: var(--textWhite);
}
.flash-sales .container .card .card-image:hover img {
  transform: scale(1.05);
  opacity: 1;
}

.how-it-works {
  background: var(--bgGradient);
  padding: 30px 0;
}
.how-it-works .button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.how-it-works .button button {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  border-radius: var(--borderRadius);
  border: none;
  background-color: var(--textRed);
  color: var(--textWhite);
  font-weight: 700;
  font-size: 18px;
}
.how-it-works .button button img {
  height: 13px;
  width: 13px;
  margin-left: 5px;
}
.how-it-works .container {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  flex-wrap: wrap;
}
.how-it-works .container .how-card {
  width: 250px;
  text-align: center;
}
.how-it-works .container .how-card .img {
  display: flex;
  align-items: center;
  margin-bottom: -20px;
  justify-content: center;
}
.how-it-works .container .how-card .desc {
  font-weight: 700;
  font-size: 16px;
  color: var(--textBlack);
}
.how-it-works .container .how-card .description {
  color: var(--textGrey);
}

.popular-items {
  padding-top: 30px;
}
.popular-items .container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.popular-items .container .prev-btn,
.popular-items .container .next-btn {
  padding: 20px;
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  background-color: var(--clYellow);
  align-items: center;
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
}
.popular-items .container .prev-btn img,
.popular-items .container .next-btn img {
  width: 10px;
}
.popular-items .container .prev-btn:hover,
.popular-items .container .next-btn:hover {
  background-color: red;
}
.popular-items .container .prev-btn {
  opacity: 0.5;
}
.popular-items .container .popular-items-cards {
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow-x: scroll;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
  height: 350px;
  border-radius: var(--borderRadius);
}
.popular-items .container .popular-items-cards .card {
  width: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  left: 0;
  position: absolute;
  transition: transform 0.4s;
}
.popular-items .container .popular-items-cards .card .card-img {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: var(--borderRadius);
}
.popular-items .container .popular-items-cards .card .card-img img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
.popular-items .container .popular-items-cards .card .card-img:hover img {
  transform: scale(1.1);
}
.popular-items .container .popular-items-cards .card .food-price {
  font-weight: 700;
  font-style: normal;
  color: #212121;
}
.popular-items .container .popular-items-cards .card .food-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--textBlack);
}
.popular-items .container .popular-items-cards .card .order-btn button {
  border: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: var(--borderRadius);
  background: var(--textRed);
  box-shadow: var(--btnShadow);
  color: var(--textWhite);
  font-size: 14px;
  font-weight: 700;
}
.popular-items .container .popular-items-cards .card .order-btn button:hover {
  background-color: red;
  cursor: pointer;
}
.popular-items .container .popular-items-cards .card .food-location span {
  display: flex;
  -moz-column-gap: 2px;
       column-gap: 2px;
  align-items: center;
  font-weight: 400;
  color: var(--clYellow);
}
.popular-items .container .popular-items-cards .card .food-location span img {
  height: 13px;
  width: 13px;
}
.popular-items .container .popular-items-cards::-webkit-scrollbar {
  display: none;
}

.search-by_food {
  background: var(--searchFoodBg);
  padding-bottom: 30px;
}
.search-by_food .container {
  padding-top: 30px;
  overflow-x: hidden;
}
.search-by_food .container .prev-btn,
.search-by_food .container .next-btn {
  padding: 20px;
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  background-color: var(--clYellow);
  align-items: center;
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
}
.search-by_food .container .prev-btn img,
.search-by_food .container .next-btn img {
  width: 10px;
}
.search-by_food .container .prev-btn:hover,
.search-by_food .container .next-btn:hover {
  background-color: red;
}
.search-by_food .container .prev-btn {
  opacity: 0.5;
}
.search-by_food .container .search-arr {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.search-by_food .container .search-arr .search-field {
  display: flex;
  align-self: center;
  visibility: hidden;
}
.search-by_food .container .search-arr .input-text {
  align-items: flex-end;
}
.search-by_food .container .search-arr .input-text input {
  padding: 10px;
  width: 100%;
  border-radius: var(--borderRadius);
  font-size: 16px;
  border: 1px solid var(--clYellow);
  color: var(--textGrey);
}
.search-by_food .container .search-arr .input-text input:focus {
  outline: none;
}
.search-by_food .container .search-arr .control {
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.search-by_food .container .search-arr .control .view-all {
  align-self: center;
  font-weight: 700;
  font-size: 14px;
  color: var(--clYellow);
  cursor: pointer;
}
.search-by_food .container .search-arr .control .view-all img {
  height: 10px;
  margin-left: 4px;
}
.search-by_food .container .search-arr .control .view-all:hover {
  text-decoration: underline;
}
.search-by_food .container .search-arr .control .control-btn {
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.search-by_food .container .foods-container {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  padding-top: 50px;
  column-gap: 20px;
  flex-wrap: wrap;
}
.search-by_food .container .foods-container .food {
  width: 150px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: absolute;
  transition: transform 1s;
}
.search-by_food .container .foods-container .food .food-name {
  font-weight: 700;
  text-align: center;
  font-size: 16px;
}
.search-by_food .container .foods-container .food .food-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}
.search-by_food .container .foods-container .food .food-image img {
  transition: transform 0.3s;
}
.search-by_food .container .foods-container .food .food-image:hover img {
  transform: scale(1.1);
}
.search-by_food .container .foods-container::--webkit-scrolbar {
  display: none;
}
.search-by_food .search-sub-container {
  padding: 50px;
  background: #FEEFD0;
  margin-top: 40px;
}
.search-by_food .search-sub-container .container {
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
.search-by_food .search-sub-container .container .container1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: var(--bgWhite);
  border-radius: var(--borderRadius);
  padding: 30px;
  row-gap: 30px;
}
.search-by_food .search-sub-container .container .container1 .border-right {
  border-right: 2px solid #CFCFCF;
}
.search-by_food .search-sub-container .container .container1 .sub-contents {
  padding-right: 65px;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.search-by_food .search-sub-container .container .container1 .sub-contents .img {
  height: 90px;
  width: 90px;
}
.search-by_food .search-sub-container .container .container1 .sub-contents .img img {
  height: 100%;
  width: 100%;
}
.search-by_food .search-sub-container .container .container1 .sub-contents .daily,
.search-by_food .search-sub-container .container .container1 .sub-contents .live,
.search-by_food .search-sub-container .container .container1 .sub-contents .quick {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  background: linear-gradient(92.84deg, #FB3C00 -47.72%, #FFB800 136.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.search-by_food .search-sub-container .container .next-sub-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -55px;
}
.search-by_food .search-sub-container .container .next-sub-container .text-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.search-by_food .search-sub-container .container .next-sub-container .text-container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #827E7E;
}
.search-by_food .search-sub-container .container .next-sub-container .text-container h2 {
  font-weight: 700;
  font-size: 40px;
  background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: -20px;
}
.search-by_food .search-sub-container .container .next-sub-container .text-container .buttons {
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.search-by_food .search-sub-container .container .next-sub-container .text-container .buttons button {
  -moz-column-gap: 3px;
       column-gap: 3px;
  text-align: left;
  background: var(--bgWhite);
  border-radius: var(--borderRadius);
  border: none;
  padding: 8px 10px;
}
.search-by_food .search-sub-container .container .next-sub-container .text-container .buttons button .img {
  height: 25px;
  width: 25px;
  align-self: center;
}
.search-by_food .search-sub-container .container .next-sub-container .text-container .buttons button .img img {
  width: 100%;
  height: 100%;
}
.search-by_food .search-sub-container .container .next-sub-container .text-container .buttons button .btn-descrip .where {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  color: #616161;
}
.search-by_food .search-sub-container .container .next-sub-container .text-container .buttons button .btn-descrip .loc {
  color: #212121;
  font-weight: 700;
}

.featured-restaurants .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
  padding: 30px 0;
}
.featured-restaurants .container .card-img-percent {
  position: relative;
  width: 290px;
}
.featured-restaurants .container .card-img-percent .card-img {
  width: 290px;
  height: 200px;
  overflow: hidden;
  border-radius: var(--borderRadius);
}
.featured-restaurants .container .card-img-percent .card-img img {
  opacity: 0.7;
  transition: transform 0.3s;
}
.featured-restaurants .container .card-img-percent .card-img:hover img {
  transform: scale(1.1);
  opacity: 1;
}
.featured-restaurants .container .card-img-percent .percent-fast {
  position: absolute;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  top: 10px;
  left: 10px;
}
.featured-restaurants .container .card-img-percent .percent-fast .percen-off,
.featured-restaurants .container .card-img-percent .percent-fast .fast {
  padding: 3px 10px;
  background: var(--textRed);
  color: var(--textWhite);
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  border-radius: var(--borderRadius);
  font-size: 12px;
}
.featured-restaurants .container .card-img-percent .percent-fast .percen-off img,
.featured-restaurants .container .card-img-percent .percent-fast .fast img {
  height: 10px;
  width: 10px;
}
.featured-restaurants .container .card-img-percent .percent-fast .fast {
  background: var(--clYellow);
}
.featured-restaurants .container .title-description {
  align-self: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 20px;
}
.featured-restaurants .container .title-description .img {
  height: 45px;
  width: 45px;
}
.featured-restaurants .container .title-description .img img {
  width: 100%;
  height: 100%;
}
.featured-restaurants .container .title-description .descript-name .name {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--textBlack);
}
.featured-restaurants .container .title-description .descript-name .descript {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #FFB30E;
}
.featured-restaurants .container .title-description .descript-name .descript img {
  height: 20px;
  width: 15px;
}
.featured-restaurants .container .status {
  margin-top: 20px;
}
.featured-restaurants .container .status .open,
.featured-restaurants .container .status .open-tomorrow {
  padding: 5px 15px;
  border-radius: var(--borderRadius);
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
}
.featured-restaurants .container .status .open {
  background: rgba(121, 185, 60, 0.2);
  color: #79B93C;
}
.featured-restaurants .container .status .open-tomorrow {
  background: rgba(241, 114, 40, 0.2);
  color: var(--textRed);
}

.best-deals {
  margin-top: 100px;
  height: -moz-fit-content;
  height: fit-content;
}
.best-deals .container {
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  align-items: center;
  overflow: hidden;
  box-shadow: var(--bxShadow);
  height: 430px;
}
.best-deals .container .b-right {
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}
.best-deals .container .b-left {
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
}
.best-deals .container .imag-container {
  width: 700px;
  height: 450px;
  overflow: hidden;
  margin-bottom: -5px;
}
.best-deals .container .imag-container img {
  width: 100%;
  height: 100%;
}
.best-deals .container .info-text-container {
  width: 30%;
  align-self: center;
  justify-self: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.best-deals .container .info-text-container .button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.best-deals .container .info-text-container .button button {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  width: 100%;
  justify-content: center;
  background: var(--clYellow);
  border: none;
  border-radius: var(--borderRadius);
  padding: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.best-deals .container .info-text-container .button button img {
  height: 15px;
  width: 15px;
}
.best-deals .container .info-text-container h2 {
  font-weight: 700;
  font-size: 43px;
  line-height: 112%;
  color: #353535;
}
.best-deals .container .info-text-container h2 span {
  color: var(--clYellow);
}
.best-deals .container .info-text-container p {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: rgba(97, 97, 97, 0.69);
}

.pre-footer {
  background-image: url("./img/Image (3).png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  margin-top: 100px;
}
.pre-footer .cta-footer {
  width: 700px;
  margin: 0 auto;
}
.pre-footer .cta-footer h2 {
  font-weight: 700;
  font-size: 57px;
  line-height: 97.5%;
  text-align: center;
  color: var(--textWhite);
}
.pre-footer .cta-footer .button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pre-footer .cta-footer .button button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: linear-gradient(93.41deg, #F17228 -5.63%, #F15E28 100.8%);
  border: none;
  color: var(--textWhite);
  font-weight: 700;
  font-size: 14px;
  box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
  border-radius: 8px;
  padding: 10px 20px;
}
.pre-footer .cta-footer .button button img {
  height: 15px;
  width: 15px;
  margin-left: 10px;
}

.footer {
  background: #212121;
  padding-top: 50px;
}
.footer .top-cities {
  padding-bottom: 40px;
  border-bottom: 2px solid var(--textBlack);
}
.footer .top-cities h4 {
  color: var(--textWhite);
}
.footer .top-cities .city-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.footer .top-cities .city-lists p {
  list-style: none;
  color: #f5f5f5;
  opacity: 0.7;
}
.footer .top-cities .city-lists p:hover {
  opacity: 1;
  text-decoration: underline;
  cursor: pointer;
}
.footer .company-contact-legal-follow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 40px;
  border-bottom: 2px solid var(--textBlack);
}
.footer .company-contact-legal-follow h4 {
  color: var(--textWhite);
}
.footer .company-contact-legal-follow .company-contact-legal {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 100px;
       column-gap: 100px;
  flex-wrap: wrap;
}
.footer .company-contact-legal-follow .company-contact-legal p {
  list-style: none;
  color: #f5f5f5;
  opacity: 0.7;
}
.footer .company-contact-legal-follow .company-contact-legal p:hover {
  opacity: 1;
  text-decoration: underline;
  cursor: pointer;
}
.footer .company-contact-legal-follow .follow {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer .company-contact-legal-follow .follow p {
  color: #BBBBBB;
}
.footer .company-contact-legal-follow .follow .media-icons {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.footer .company-contact-legal-follow .follow .media-icons img {
  height: 20px;
  width: 20px;
  opacity: 0.5;
}
.footer .company-contact-legal-follow .follow .media-icons img:hover {
  opacity: 1;
}
.footer .company-contact-legal-follow .follow .subscribe-mail {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer .company-contact-legal-follow .follow .subscribe-mail .email-input {
  position: relative;
}
.footer .company-contact-legal-follow .follow .subscribe-mail .email-input input {
  padding: 10px 10px 10px 40px;
  border-radius: var(--borderRadius);
  border: none;
  font-size: 16px;
  color: var(--textWhite);
  background: var(--textBlack);
}
.footer .company-contact-legal-follow .follow .subscribe-mail .email-input input:focus {
  outline: none;
  border: 1px solid var(--clYellow);
}
.footer .company-contact-legal-follow .follow .subscribe-mail .email-input img {
  position: absolute;
  top: 10px;
  left: 10px;
}
.footer .company-contact-legal-follow .follow .subscribe-mail button {
  background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
  box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
  border-radius: var(--borderRadius);
  border: none;
  color: var(--textWhite);
  font-weight: 700;
}
.footer .copyright {
  color: var(--textGrey);
  text-align: center;
  padding: 10px;
}

@media (max-width: 1200px) {
  .navbar,
  .flash-sales,
  .hero-sec,
  .popular-items,
  .search-by_food,
  .featured-restaurants,
  .best-deals,
  .company-contact-legal-follow,
  .top-cities {
    padding: 0 30px;
  }
  .best-deals .container .imag-container {
    width: 500px;
    height: 100%;
  }
  .best-deals .container .info-text-container {
    width: 40%;
  }
  .hero-sec .container .email-find-food .find-food-btn {
    margin-left: 0;
  }
}
@media (max-width: 1153px) {
  .navbar .container .location {
    display: none;
  }
  .hero-sec .container {
    padding-bottom: 100px;
    padding-top: 30px;
    flex-wrap: wrap;
  }
  .hero-sec .container .hero-image {
    display: none;
  }
  .hero-sec .container .hero-text-component {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .hero-sec .container .hero-text-component h1 {
    line-height: 0;
  }
  .hero-sec .container .email-find-food .find-food-btn {
    margin-left: 0;
  }
  .best-deals .container {
    height: 450px;
  }
  .best-deals .container .imag-container {
    width: 450px;
  }
  .search-by_food {
    padding-bottom: 0;
  }
  .search-by_food .search-sub-container {
    padding-bottom: 0;
  }
  .search-by_food .search-sub-container .container .container1 .sub-contents {
    padding-right: 20px;
  }
  .search-by_food .search-sub-container .next-sub-container {
    overflow-y: hidden;
    margin-bottom: 0px;
  }
  .search-by_food .search-sub-container .next-sub-container .text-container {
    padding-bottom: 100px;
  }
  .search-by_food .search-sub-container .next-sub-container .image {
    width: 450px;
    overflow: hidden;
  }
  .search-by_food .search-sub-container .next-sub-container .image img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 976px) {
  .best-deals .container {
    height: 300px;
  }
  .best-deals .container .imag-container {
    width: 430px;
    height: 100%;
  }
  .best-deals .container .info-text-container {
    padding: 0 50px;
  }
  .best-deals .container .info-text-container .pad-bot {
    margin-top: -20px;
  }
  .best-deals .container .info-text-container h2 {
    font-size: 30px;
  }
}
@media (max-width: 976px) {
  .best-deals .container .imag-container {
    width: 400px;
  }
  .best-deals .container .info-text-container {
    width: 40%;
  }
}
@media (max-width: 941px) {
  html {
    overflow-x: hidden;
  }
  .how-it-works .container {
    padding: 0 30px;
  }
  .flash-sales .container .card {
    width: 250px;
  }
  .flash-sales .container .card .card-image img {
    opacity: 1;
  }
  .featured-restaurants .container .card {
    width: 200px;
  }
  .featured-restaurants .container .card .card-img {
    width: 200px;
  }
  .featured-restaurants .container .card .card-img img {
    opacity: 1;
  }
  .search-by_food .search-sub-container .container .container1 .border-right {
    border: none;
  }
  .search-by_food .search-sub-container .container .container1 .sub-contents {
    padding-right: 20px;
  }
  .search-by_food .search-sub-container .container .next-sub-container {
    justify-content: space-around;
  }
  .search-by_food .search-sub-container .container .next-sub-container .text-container {
    padding-bottom: 80px;
    width: 50%;
  }
  .search-by_food .search-sub-container .container .next-sub-container .text-container h2 {
    font-size: 30px;
  }
  .search-by_food .search-sub-container .container .next-sub-container .text-container p {
    font-size: 16px;
  }
  .search-by_food .search-sub-container .container .next-sub-container .image {
    width: 350px;
    overflow: hidden;
  }
}
@media (max-width: 893px) {
  .how-it-works .container .how-card {
    align-self: center;
    justify-self: center;
    width: 200px;
  }
  .flash-sales .container {
    justify-content: space-around;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .flash-sales .container .card {
    align-self: flex-end;
    width: 315px;
  }
  .popular-items .container {
    position: relative;
  }
  .popular-items .container .prev-btn,
  .popular-items .container .next-btn {
    position: absolute;
    z-index: 10;
  }
  .popular-items .container .prev-btn {
    left: -20px;
  }
  .popular-items .container .next-btn {
    right: -20px;
  }
  .featured-restaurants .container {
    justify-content: space-around;
  }
  .featured-restaurants .container .card-img-percent {
    width: 220px;
  }
  .featured-restaurants .container .card-img-percent .card-img {
    width: 220px;
  }
  .search-by_food .container .container1 .sub-contents {
    padding-right: 0;
  }
  .search-by_food .container .container1 .sub-contents .img {
    height: 50px;
    width: 50px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .best-deals .container {
    height: 100%;
    padding-bottom: 30px;
  }
  .best-deals .container .imag-container {
    width: 100%;
  }
  .best-deals .container .info-text-container {
    width: 100%;
    padding: 20px;
  }
  .pre-footer .cta-footer h2 {
    font-size: 40px;
  }
  .search-by_food .search-sub-container .container .next-sub-container .text-container {
    width: 90%;
    text-align: center;
  }
  .search-by_food .search-sub-container .container .next-sub-container .text-container .buttons {
    justify-content: center;
  }
  .search-by_food .search-sub-container .container .next-sub-container .img {
    width: 100%;
  }
}
@media (max-width: 713px) {
  .hero-sec .container .hero-text-component {
    width: 100%;
  }
  .hero-sec .container .hero-text-component h1 {
    line-height: 1;
    font-size: 50px;
  }
  .hero-sec .container .hero-text-component .email-find-food .input-field {
    width: 85%;
  }
  .hero-sec .container .hero-text-component .email-find-food .input-field input {
    width: 100%;
  }
  .flash-sales .container {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
  .flash-sales .container .card {
    width: 220px;
  }
  .best-deals .container .info-text-container {
    row-gap: 20px;
  }
  .best-deals .container .imag-container {
    height: 60%;
  }
  .best-deals .container .imag-container img {
    height: 100%;
    width: 100%;
  }
  .pre-footer .cta-footer {
    width: 100%;
  }
  .pre-footer .cta-footer h2 {
    font-size: 30px;
  }
}
.how-it-works .container {
  padding: 20px;
  justify-content: space-around;
}

@media (max-width: 520px) {
  .navbar .container .actions {
    display: none;
  }
  .flash-sales .container {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
  .flash-sales .container .card {
    width: 200px;
  }
  .featured-restaurants .container .card-img-percent {
    width: 200px;
  }
  .featured-restaurants .container .card-img-percent .card-img {
    width: 200px;
  }
}
@media (max-width: 463px) {
  .how-it-works .container {
    justify-content: center;
    padding: 0;
  }
  .how-it-works .container .how-card {
    width: 90%;
  }
  .flash-sales .container {
    justify-content: center;
  }
  .flash-sales .container .card {
    width: 100%;
  }
  .featured-restaurants .container {
    justify-content: center;
  }
  .featured-restaurants .container .card {
    width: 100%;
  }
  .featured-restaurants .container .card .card-img-percent {
    width: 100%;
  }
  .featured-restaurants .container .card .card-img-percent .card-img {
    width: 100%;
  }
  .featured-restaurants .container .card .card-img-percent .card-img img {
    width: 100%;
  }
  .search-by_food .search-sub-container {
    padding: 30px 20px;
  }
  .search-by_food .search-sub-container .container {
    width: 100%;
  }
  .search-by_food .search-sub-container .container .container1 {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .navbar,
  .flash-sales,
  .hero-sec,
  .popular-items,
  .search-by_food,
  .featured-restaurants,
  .best-deals,
  .company-contact-legal-follow,
  .top-cities {
    padding: 0 10px;
  }
  .hero-sec .container .hero-text-component h1 {
    font-size: 45px;
  }
}/*# sourceMappingURL=style.css.map */